<br>
<br>
<app-input-parent></app-input-parent>
<app-output-parent></app-output-parent>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-input></app-input>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<app-button></app-button>
<br>
<br>