<br>
<br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<input type="text" placeholder="Example placeholder">
<input type="button" value="Submit"> <br>
<br>
<br>